:root{
    --cream: hsla(28, 38%, 92%, 1);
    --white: rgb(255, 255, 255);
    --aurometal : hsla(228, 12%, 48%, 1);
    --lightgreen: hsla(157, 36%, 37%, 1);
    --darkgreen: hsla(157, 43%, 18%, 1);
    --darkgray: hsla(212, 21%, 14%, 1);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    font-family: 'Montserrat', sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.product {
    width: 95%;
    max-width: 600px;
    min-height: 450px;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-between{ justify-content: space-between;}

.product-img{
    overflow: hidden;
    width: 50%;
    flex-grow: 1;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-container{
    max-width: 50%;
    flex-grow: 1;
}

.preview{
    margin-top: 32px;
    color: var(--aurometal);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px
}


.description{
    color: var(--aurometal);
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    margin-top: 24px;
}

.m-x{
    margin-right: 32px;
    margin-left: 32px;
}

.m-y{
    margin-top: 32px;
    margin-bottom: 32px;
}



.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}

.card-button{
    background: var(--lightgreen);
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button:hover{
    background: var(--darkgreen);
    cursor: pointer;
}

.display-font{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 32px;
}

.dark-green{
    color: var(--lightgreen);
}
.dark-gray{
    color: var(--darkgray);
}

.attribution{
    margin-top: 40px;
    font-size: 10px;
    color: var(--aurometal);
}

.old-price {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: var(--aurometal);
    text-decoration-line: line-through;
    padding-left: 20px;
}

.icon {
    display: block;
    background-image: url(./images/icon-cart.svg);
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.desktop{
    display: block;
}
.mobile{
    display: none;
}
@media screen and (max-width: 670px){
    .product {
        margin-top: 32px;
        flex-direction: column;
        max-height: none;
    }
    .product-img{
        width: 100%;
        height: 240px;
        overflow: hidden;
        min-height: 240px;
    }
    
    .text-container{
        max-width: 100%;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

